.navigation { 
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

nav > h1{ 
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 58px; 
}


nav > img{ 
    width: 58px;
    padding: 5px;
}

.imglink{    
  width: 58px;
  padding: 5px;
}

nav > a{ 
  width: 58px;
  padding: 5px;
}


nav > div > img{  
    width: 58px;
    padding: 5px;
}

.Fenderblack {
    width: 1200px;
    height:426px;
    object-fit:cover;
    border-radius:60px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.top {
    position: relative;
    text-align: center;
  }

.name{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 50px;
    left: 202px;
    text-align: start;

}

.series{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 10px;
    color: white;
    position: absolute;
    top: 250px;
    left: 202px;
}

.price{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 80px;
    color: #FC7300;
    position: absolute;
    top: 220px;
    left: 820px;
}

.heart{
    max-width: 30px;
    max-height: 30px;
    padding-top: 20px;
    padding-left: 30px;
}

.imageproduct{
    max-width: 300px;
    max-height: 300px;
    position: relative;
    left:80px;
}


.priceorange{    
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 750px;
    left: 90px;
}

.nameorange{    
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    top:700px;
    left: 90px;
}


.nameyellow{    
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    top:700px;
    left: 530px;
}

.priceyellow{    
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 750px;
    left: 530px;
}

.namered{    
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    top:700px;
    left: 970px;
}

.pricered{    
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 750px;
    left: 970px;
}


.products {
    display: flex;
    flex-wrap: wrap;
  }

  .product-card{
      display: inline-block;
      max-width: 450;
      max: height 550px;
      border-radius: 60px;
      background-color: #000000;
      opacity: 0.85;
      float: left;
      width: 25%;
      margin-top: 30px;
      margin-right: 50px;
      margin-left: 50px;
  }







  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#000000;
    border-radius: 60px;
    width: 280px;
    height: 580px;
    position:relative;
    font-family:'Arial Black', Gadget, sans-serif;
    margin: 10px;
  }

  .like{
    max-width: 30px;
    max-height: 30px;
    vertical-align: top;
    padding-top: 20px;
    padding-left: 30px;
  }

  .namelist{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 70px;
    left: 30px;

  }

  .pricelist{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 130px;
    left: 30px;
  }

  .description{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 40px;
    color:#FC6E00;
    position: absolute;
    transform-origin: top right;
    right:0;
    top:0;
    transform: rotate(-90deg) translateY(-100%);

  }

  .guitar1{
    max-width: 570px;
    max-height: 570px;
    float: right;
    padding-right: 40px;
    padding-top: 40px;
    position: relative;
  }


  .card button {
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-image:linear-gradient(rgba(254,165,0,1) 0%, rgba(255,111,0,1) 100%);
    font-size: 3px;
    padding: 10px 30px;
    border-radius: 14px;
    transition-duration: 0.3s;
    position: relative;
    top: 50px;
    left: 68px;
    
  }



.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#000000;
    border-radius: 60px;
    width: 280px;
    height: 470px;
    margin: 10px;

    position:relative;
    font-family:'Arial Black', Gadget, sans-serif;
  }

  .guitar2{
    max-width: 270px;
    max-height: 270px;
    float: right;
    padding-right: 20px;
    padding-top: 40px;
    position: relative;
  }

  .card2 button {
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-image:linear-gradient(rgba(254,165,0,1) 0%, rgba(255,111,0,1) 100%);
    font-size: 13px;
    padding: 14px 40px;
    border-radius: 14px;
    transition-duration: 0.3s;
    position: relative;
    top: 50px;
    left: 56px; 
  }




  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#000000;
    border-radius: 60px;
    width: 280px;
    height: 330px;
    position:relative;
    font-family:'Arial Black', Gadget, sans-serif;
    margin: 10px;
  }

  .Picks{
    max-width: 130px;
    max-height: 130px;
    float: right;
    padding-right: 20px;
    padding-top: 40px;
    position: relative;
  }

  .card3 button {
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-image:linear-gradient(rgba(254,165,0,1) 0%, rgba(255,111,0,1) 100%);
    font-size: 13px;
    padding: 14px 40px;
    border-radius: 14px;
    transition-duration: 0.3s;
    position: relative;
    top: 50px;
    left: 56px; 
  }


  .card4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#000000;
    border-radius: 60px;
    width: 280px;
    height: 550px;
    position:relative;
    font-family:'Arial Black', Gadget, sans-serif;
    margin: 10px;
  }

  .guitar3{
    max-width: 350px;
    max-height: 350px;
    float: right;
    padding-right: 20px;
    padding-top: 40px;
    position: relative;
  }

  .card4 button {
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-image:linear-gradient(rgba(254,165,0,1) 0%, rgba(255,111,0,1) 100%);
    font-size: 13px;
    padding: 14px 40px;
    border-radius: 14px;
    transition-duration: 0.3s;
    position: relative;
    top: 50px;
    left: 56px; 
  }

.productlist{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}






.cart {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#000000;
    border-radius: 60px;
    width: 380px;
    height: 580px;
    position:relative;
    font-family:'Arial Black', Gadget, sans-serif;
    margin: 50px;
  }

  .namecart{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 70px;
    left: 30px;

  }

  .pricecart{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 130px;
    left: 30px;
  }

  .product{
    max-width: 430px;
    max-height: 430px;
    float: right;
    padding-right: 40px;
    padding-top: 40px;
    position: relative;
  }


  .cart button {
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-image:linear-gradient(rgba(254,165,0,1) 0%, rgba(255,111,0,1) 100%);
    font-size: 10px;
    letter-spacing: 5px;
    padding: 10px 40px;
    border-radius: 14px;
    transition-duration: 0.3s;
    position: absolute;
    top: 500px;
    left: 100px;   
  }

  .cartlist{
    display: flex;
    justify-content: space-between;
}


.totalcart{
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    font-size: 70px;
}

.checkout button{
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-color: #1E1E1E;
    font-size: 10px;
    letter-spacing: 5px;
    padding: 20px 40px;
    border-radius: 14px;
    margin: 60px;
}

.checkout{  
    display: flex;      
    justify-content:center; 
    align-items: center;  
}








.payment {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#000000;
    border-radius: 60px;
    width: 800px;
    height: 800px;
    position:absolute;
    top:10px; 
    left:80px;
    font-family:'Arial Black', Gadget, sans-serif;
    z-index:3;
  }

  .creditcard{
    width: 350px;
    height: 250px;
    padding-top: 40px;
  }
  .creditcard1{
    width: 200px;
    height: 250px;
    padding-top: 40px;
  }

  .creditcard2{
    width: 100px;
    height: 250px;
    padding-top: 40px;
    padding-right: 90px;
  }


  .cardpreview{
    display: flex; 
    justify-content:center; 
    align-items: center;
  }


  .checkouttitle{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    color:#FC6E00;
    position: absolute;
    transform-origin: top right;
    right:30px;
    top:0;
    transform: rotate(-90deg) translateY(-100%); 
  }

  .checkoutproduct{f
    font-family:'Arial Black', Gadget, sans-serif;
    font-size:20px;
    color:white;
    position: absolute;
    top: 400px;
    left: 80px;
  }

  .checkoutproductp{f
    font-family:'Arial Black', Gadget, sans-serif;
    font-size:20px;
    color:white;
    position: absolute;
    top: 400px;
    left: 625px;
  }

  .checkoutproductt{f
    font-family:'Arial Black', Gadget, sans-serif;
    font-size:50px;
    color:white;
    position: absolute;
    top: 530px;
    left: 460px;
  }

  .payment button{
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-image:linear-gradient(rgba(254,165,0,1) 0%, rgba(255,111,0,1) 100%);
    font-size: 10px;
    letter-spacing: 5px;
    padding: 10px 40px;
    border-radius: 14px;
    position: relative;
    top: 150px;
    left: 300px; 
  }

  .line{
    position: relative;
    margin-top: 250px;
    width: 80%;
  }


.info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#1E1E1E;
    border-radius: 60px;
    width: 1000px;
    height: 800px;
    position:absolute;
    top:10px; 
    left:80px;
    font-family:'Arial Black', Gadget, sans-serif;
    z-index:2;
  }

  .info:hover{
    z-index: 10;
   }

  .form{
    text-align: center;
    color: white;
    padding-top: 80px;
  }

  input[type=text] {
   width: 400px;
   height: 50px;
   background-color: ;
  }

  input[type=text]:focus {
    background-color: #FFE3AF;
  }

  .info button{
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-image:linear-gradient(rgba(254,165,0,1) 0%, rgba(255,111,0,1) 100%);
    font-size: 10px;
    letter-spacing: 5px;
    padding: 10px 40px;
    border-radius: 14px;
    position: relative;
    top: 60px;
    left: 400px; 
  }






  .confirmation {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#242424;
    border-radius: 60px;
    width: 1200px;
    height: 800px;
    position:relative;
    top:10px; 
    left:80px;
    font-family:'Arial Black', Gadget, sans-serif;
    z-index:1;
  }

  .confirmation:hover{
    z-index: 10;
   }

  .infotitle{
    font-family:'Arial Black', Gadget, sans-serif;
    font-size:40px;
    color:#FEA500;
  }

  .infoinput{
    font-family:'Arial', Gadget, sans-serif;
    font-size:35px;
    color:white;
  }

  .infodetail{
    position: absolute;
    padding-top: 80px;
    padding-left: 150px; 
  }

  .button1{
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-image:linear-gradient(rgba(254,165,0,1) 0%, rgba(255,111,0,1) 100%);
    font-size: 10px;
    letter-spacing: 5px;
    padding: 10px 40px;
    border-radius: 14px;
    position: relative;
    top: 650px;
    left: 200px;
    margin-right: 300px;
  }

  .button2{
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-image:linear-gradient(rgba(254,165,0,1) 0%, rgba(255,111,0,1) 100%);
    font-size: 10px;
    letter-spacing: 5px;
    padding: 10px 40px;
    border-radius: 14px;
    position: absolute;
    top: 650px;
    left: 600px;
  }

.checkoutpage{
  position: absolute;
}





.productpic{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color:#000000;
  border-radius: 60px;
  width: 550px;
  height: 800px;
  position:absolute;
  top:10px; 
  left:80px;
  font-family:'Arial Black', Gadget, sans-serif;
  z-index:3;

}

.likep{
  max-width: 50px;
  max-height: 50px;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 90px;
}

.fenderproduct{
  max-width: 670px;
  max-height: 670px;
  float: left;
  padding-right: 40px;
  padding-top: 100px;
  position: relative;
}

.namep{
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 35px;
  color: white;
  position: absolute;
  top: 70px;
  left: 80px;
}

.pricep{
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 60px;
  color: white;
  position: absolute;
  top: 250px;
  left: 250px;
}

.specp{
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 15px;
  color: white;
  position: absolute;
  top: 500px;
  left: 300px;
  line-height: 30px;
}




.productspec{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #1E1E1E;
  border-radius: 60px;
  width: 700px;
  height: 800px;
  position:absolute;
  top:10px; 
  left:80px;
  font-family:'Arial Black', Gadget, sans-serif;
  z-index:2;
}

.productspec:hover{
 z-index: 10;
}


tr{
  color: white;
  line-height: 35px;
}

.spectable{
padding-top: 70px;
padding-left: 70px;
}




.reviews{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color:#242424;
  border-radius: 60px;
  width: 850px;
  height: 800px;
  position:absolute;
  top:10px; 
  left:80px;
  font-family:'Arial Black', Gadget, sans-serif;
  z-index:1;

}

.reviews:hover{
  z-index: 10;
 }

.infotitle{
  font-family:'Arial Black', Gadget, sans-serif;
  font-size:20px;
  color:#FEA500;
}

.infoinput{
  font-family:'Arial', Gadget, sans-serif;
  font-size:15px;
  color:white;
  padding-right: 160px;
}

.infodetail{
  position: absolute;
  padding-top: 80px;
  padding-left: 70px
  
}

.productpage{
  position: absolute;
}

.detail1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color:#000000;
  border-radius: 60px;
  width: 300px;
  height: 550px;
  position:absolute;
  top:10px; 
  left:1000px;
  font-family:'Arial Black', Gadget, sans-serif;
  z-index:2;
}

.detailp1{
 max-width: 300px;
 max-height: 300px;
 margin-top: 50px;
 margin-left: 105px;
}

.descriptiond{
  font-family:'Arial Black', Gadget, sans-serif;
  font-size:10px;
  color:white;
  margin-top: 40px;
  margin-left: 10px;
  text-align: center;
}

.topicd1{
  font-family:'Arial Black', Gadget, sans-serif;
  ont-size: 40px;
  color:#FC6E00;
  margin-top: 40px;
  margin-left: 10px;
  text-align: center;
}

.detail2{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color:#1E1E1E;
  border-radius: 60px;
  width: 300px;
  height: 700px;
  position:absolute;
  top:10px; 
  left:1000px;
  font-family:'Arial Black', Gadget, sans-serif;
}

.detail2:hover{
  z-index: 10;
 }

.detailp2{
  max-width: 200px;
  max-height: 200px;
  margin-top: 50px;
  margin-left: 50px;
 }


.topicd2{
  font-family:'Arial Black', Gadget, sans-serif;
  ont-size: 40px;
  color:#FC6E00;
  margin-top: 380px;
  margin-left: 10px;
  text-align: center;
  z-index:1;
}

.productpage button{
  font-family:'Arial Black', Gadget, sans-serif;
  color :#FC6E00;
  background-color: #1E1E1E;
  font-size: 10px;
  letter-spacing: 5px;
  padding: 20px 40px;
  border-radius: 14px;
  position:absolute;
  top:740px; 
  left:1085px;
}

