.navigation { 
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

nav > h1{ 
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 58px; 
}

nav > img{ 
    width: 58px;
    padding: 5px;
}

nav > div{ 
    
}

nav > div > img{  
    width: 58px;
    padding: 5px;
}

.Fenderblack {
    width: 1200px;
    height:426px;
    object-fit:cover;
    border-radius:60px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.top {
    position: relative;
    text-align: center;
  }

.name{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 50px;
    left: 202px;
    text-align: start;

}

.series{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 10px;
    color: white;
    position: absolute;
    top: 250px;
    left: 202px;
}

.price{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 80px;
    color: #FC7300;
    position: absolute;
    top: 220px;
    left: 820px;
}

.heart{
    max-width: 30px;
    max-height: 30px;
    padding-top: 20px;
    padding-left: 30px;
}

.imageproduct{
    max-width: 300px;
    max-height: 300px;
    position: relative;
    left:80px;

    
}


.priceorange{    
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 750px;
    left: 90px;
}

.nameorange{    
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    top:700px;
    left: 90px;
}


.nameyellow{    
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    top:700px;
    left: 530px;
}

.priceyellow{    
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 750px;
    left: 530px;
}

.namered{    
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    top:700px;
    left: 970px;
}

.pricered{    
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 750px;
    left: 970px;
}


.products {
    display: flex;
    flex-wrap: wrap;
  }

  .product-card{
      display: inline-block;
      max-width: 450;
      max: height 550px;
      border-radius: 60px;
      background-color: #000000;
      opacity: 0.85;
      float: left;
      width: 25%;
      margin-top: 30px;
      margin-right: 50px;
      margin-left: 50px;
  }







  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#000000;
    border-radius: 60px;
    width: 280px;
    height: 580px;
    position:relative;
    font-family:'Arial Black', Gadget, sans-serif;
    margin: 10px;
  }

  .like{
    max-width: 30px;
    max-height: 30px;
    vertical-align: top;
    padding-top: 20px;
    padding-left: 30px;
  }

  .namelist{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 70px;
    left: 30px;

  }

  .pricelist{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 130px;
    left: 30px;
  }

  .description{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 40px;
    color:#FC6E00;
    position: absolute;
    transform-origin: top right;
    right:0;
    top:0;
    transform: rotate(-90deg) translateY(-100%);

  }

  .guitar1{
    max-width: 570px;
    max-height: 570px;
    float: right;
    padding-right: 40px;
    padding-top: 40px;
    position: relative;
  }


  .card button {
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-image:linear-gradient(rgba(254,165,0,1) 0%, rgba(255,111,0,1) 100%);
    font-size: 3px;
    padding: 10px 30px;
    border-radius: 14px;
    transition-duration: 0.3s;
    position: relative;
    top: 50px;
    left: 68px;
    
  }



.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#000000;
    border-radius: 60px;
    width: 280px;
    height: 470px;
    margin: 10px;

    position:relative;
    font-family:'Arial Black', Gadget, sans-serif;
  }

  .guitar2{
    max-width: 270px;
    max-height: 270px;
    float: right;
    padding-right: 20px;
    padding-top: 40px;
    position: relative;
  }

  .card2 button {
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-image:linear-gradient(rgba(254,165,0,1) 0%, rgba(255,111,0,1) 100%);
    font-size: 13px;
    padding: 14px 40px;
    border-radius: 14px;
    transition-duration: 0.3s;
    position: relative;
    top: 50px;
    left: 56px; 
  }




  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#000000;
    border-radius: 60px;
    width: 280px;
    height: 330px;
    position:relative;
    font-family:'Arial Black', Gadget, sans-serif;
    margin: 10px;
  }

  .Picks{
    max-width: 130px;
    max-height: 130px;
    float: right;
    padding-right: 20px;
    padding-top: 40px;
    position: relative;
  }

  .card3 button {
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-image:linear-gradient(rgba(254,165,0,1) 0%, rgba(255,111,0,1) 100%);
    font-size: 13px;
    padding: 14px 40px;
    border-radius: 14px;
    transition-duration: 0.3s;
    position: relative;
    top: 50px;
    left: 56px; 
  }


  .card4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#000000;
    border-radius: 60px;
    width: 280px;
    height: 550px;
    position:relative;
    font-family:'Arial Black', Gadget, sans-serif;
    margin: 10px;
  }

  .guitar3{
    max-width: 350px;
    max-height: 350px;
    float: right;
    padding-right: 20px;
    padding-top: 40px;
    position: relative;
  }

  .card4 button {
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-image:linear-gradient(rgba(254,165,0,1) 0%, rgba(255,111,0,1) 100%);
    font-size: 13px;
    padding: 14px 40px;
    border-radius: 14px;
    transition-duration: 0.3s;
    position: relative;
    top: 50px;
    left: 56px; 
  }

.productlist{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}






.cart {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#000000;
    border-radius: 60px;
    width: 380px;
    height: 580px;
    position:relative;
    font-family:'Arial Black', Gadget, sans-serif;
    margin: 50px;
  }

  .namecart{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 70px;
    left: 30px;

  }

  .pricecart{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 130px;
    left: 30px;
  }

  .product{
    max-width: 430px;
    max-height: 430px;
    float: right;
    padding-right: 40px;
    padding-top: 40px;
    position: relative;
  }


  .cart button {
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-image:linear-gradient(rgba(254,165,0,1) 0%, rgba(255,111,0,1) 100%);
    font-size: 10px;
    letter-spacing: 5px;
    padding: 10px 40px;
    border-radius: 14px;
    transition-duration: 0.3s;
    position: relative;
    top: 500px;
    left: 128px;   
  }

  .cartlist{
    display: flex;
    justify-content: space-between;
}




.totalcart{
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    font-size: 70px;
}

.checkout button{
    font-family:'Arial Black', Gadget, sans-serif;
    color :white;
    background-color: #1E1E1E;
    font-size: 10px;
    letter-spacing: 5px;
    padding: 20px 40px;
    border-radius: 14px;
    margin: 60px;
}

.checkout{  
    display: flex;      
    justify-content:center; 
    align-items: center;  

}